.imgheader{
	background: url(../Stadion.jpg);
	background-size: cover ;
	height: 600px;

}
nav{
	position: absolute;
}
.labelsearch{
	margin-top: 20px;
}

nav:hover{
	background-color: yellow;
}